absl-py==0.8.0
future==0.17.1
grpcio==1.23.0
joblib==0.13.2
logging-tree==1.8
Markdown==3.1.1
numpy==1.16.2
pandas==0.24.2
Pillow==6.0.0
protobuf==3.7.1
python-dateutil==2.8.0
pytz==2018.9
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
tensorboard==2.0.0
torch==1.3.0
torchvision==0.4.1
tqdm==4.31.1
virtualenv==16.3.0
Werkzeug==0.15.6
